/*font family selection for all text*/

.all{
	font-family: 'Libre Baskerville', serif;
}

/*start of header*/

.header{
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.9;
}

nav{
 	background-color:  white;
}

.nav-text{
	color: black;
}

.name{
	font-weight: bold;
	margin-left: 20px;
}

.header-picture{
	height: 450px;
	background-image: url(../images/image1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*start of about-me*/

#about-me{
	line-height: 2;
}

.profile-picture{
	border: 20px solid white;
	border-radius: 100%;
	margin-top: -150px;
	float: right;
	width: 275px;
}

.intro-name{
	font-weight: bold;
	font-size: 20px;
}

.digital{
	color: #4dd0e1;
}

/*start of featured projects*/

#project{
	background-color: #e0f7fa;
	padding-bottom: 20px;
}

.featured{
	padding-top: 20px;
}

.featured-name{
	font-weight: bold;
	font-size: 20px;
}

.btn1{
	margin-bottom: 20px;
}

.featured-project-pic{
	width: 100%;
	height: 100%;
	background-size: cover;
}

/*start of projects*/

.project-lable{
	font-weight: bold;
	font-size: 20px;
}

.project-border{
	position: relative;
	width: 100%;
	height: 400px;
	border: 5px solid #4dd0e1;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 0px !important;
}

.project-pic{
	width: 100%;
	height: 100%;
	background-size: cover;
}

.overlay{
  	opacity: 0;
	position: absolute;
	background: #e0f7fa;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay:hover {
	opacity: .9;
	transition: opacity 0.5s ease;
}

.specific-project-name{
	color: #4dd0e1;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 30px;
}

/*start of contact*/

#contact{
	background-color: #e0f7fa;
}

.contact-header{
	padding-top: 20px;
}

.contact-lable{
	font-weight: bold;
	font-size: 20px;
}

.icon{
	width:100%;
}



