<select id="breed_select" name="cat_breed_select">
    <option value="" disabled selected>Cat Breed</option>
    <option value="Abyssinian">Abyssinian</option>
    <option value="American-Bobtail">American Bobtail</option>
    <option value="American-Curl">American Curl</option>
    <option value="American-Shorthair">American Shorthair</option>
    <option value="American-Wirehair">American Wirehair</option>
    <option value="Balinese">Balinese</option>
    <option value="Bengal">Bengal</option>
    <option value="Birman">Birman</option>
    <option value="Bombay">Bombay</option>
    <option value="British-Shorthair">British Shorthair</option>
    <option value="Burmese">Burmese</option>
    <option value="Chartreux">Chartreux</option>
    <option value="Cornish-Rex">Cornish Rex</option>
    <option value="Cymric">Cymric</option>
    <option value="Devon-Rex">Devon Rex</option>
    <option value="Egyptian-Mau">Egyptian Mau</option>
    <option value="Exotic-Shorthair">Exotic Shorthair</option>
    <option value="Havana-Brown">Havana Brown</option>
    <option value="Himalayan">Himalayan</option>
    <option value="Japanese-Bobtail">Japanese Bobtail</option>
    <option value="Javanese">Javanese</option>
    <option value="Korat-">Korat </option>
    <option value="Maine-Coon">Maine Coon</option>
    <option value="Manx">Manx</option>
    <option value="Munchkin">Munchkin</option>
    <option value="Nebelung">Nebelung</option>
    <option value="Norwegian-Forest-Cat">Norwegian Forest Cat</option>
    <option value="Ocicat">Ocicat</option>
    <option value="Oriental">Oriental</option>
    <option value="Persian">Persian</option>
    <option value="Ragdoll">Ragdoll</option>
    <option value="Russian-Blue">Russian Blue</option>
    <option value="Scottish-Fold">Scottish Fold</option>
    <option value="Selkirk-Rex">Selkirk Rex</option>
    <option value="Siamese">Siamese</option>
    <option value="Siberian">Siberian</option>
    <option value="Singapura">Singapura</option>
    <option value="Snowshoe">Snowshoe</option>
    <option value="Somali">Somali</option>
    <option value="Sphynx">Sphynx</option>
    <option value="Tonkinese">Tonkinese</option>
    <option value="Turkish-Angora">Turkish Angora</option>
    <option value="Turkish-Van">Turkish Van</option>
</select>