<!DOCTYPE html>

    <head>
        <title>Register</title>
        <% include head %> 

    </head>
    <body>
        <% include navbar %>
		 <script type="text/javascript">
		$(document).ready(() => {
				// initiate selection dropdown
				$('select').material_select();

				// Hide dog/cat breeds to only show when a type is selected
				$('.dog-breeds, .cat-breeds').hide();
				// show dog/cat breeds depending on selection
				$('#breeds-select').change(function () {
					var inputValue = $(this).val();
					// console.log(inputValue)
					if (inputValue == "dog") {
						$('.dog-breeds').show();
						$('.cat-breeds').hide();
					} else if (inputValue == "cat") {
						$('.cat-breeds').show();
						$('.dog-breeds').hide();
					}
				});
			});
	</script>
    <main>
        <div class="container">
			<div class="row">
				<% include searchBar %>
			</div>
			<div class="row">
				<div class="col s4">
					<h3>Hello!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col s6 flow-text">
					Welcome to PetBasket!
					<p class="flow-text">We're here to help match you with your ideal pet or list a pet
					available for adoption.</p>
					<p class="flow-text">It's free to join, so sign up to be a part of our family today!</p>
				</div>
				<div class="col s6">
					<img src="../images/pets_group.jpg" />
				</div>
			</div>
		</div>
    </main>
    <% include footer %> 
    </body>
</html>