<!DOCTYPE html>
    <head>
        <% include head %>
        <title>Pet Basket Profile</title>

    </head>
    <body>
    <% include navbar %>
     <main>
        <div class="container">
                <div class="row">
                    <% include sideNav %>
                    <!-- <div class="col s12"><h4>Profile Updated!</h4></div> -->
                    <div class="col s8 center-align">
                        <h3>Your post has been updated!</h3>
                        <img src="images/cat_typing.gif">
                    </div>
                </div>
			</div>
	    </main>
        <% include footer %>
    </body>
</html>