<form action="/search" method="post">
    <div class="row">
        <div class="input-field col s2">
            <select id='breeds-select' name="typeSelect" required>
                <option value="" disabled selected>Type</option>
                <option value="dog" class="dog" id="dog" name="dog">Dog</option>
                <option value="cat" class="cat" id="cat" name="cat">Cat</option>
            </select>
        </div>
        <div class="input-field col s2">
            <div class="breeds dog-breeds" name="dogBreed">
                <% include dog_breeds %>
            </div>
            <div class="breeds cat-breeds" name="catBreed">
                <% include cat_breeds %>
            </div>
        </div>
        <div class="input-field col s2">
            <label for="location">Location:</label>
            <input type="text" class="validate" name="location" required>
        </div>
        <div class="input-field col s2">
            <select name="ageSelect" required>
                <option value="" disabled selected>Age</option>
                <option value="baby">Baby</option>
                <option value="young">Young</option>
                <option value="adult">Adult</option>
                <option value="senior">Senior</option>
            </select>
        </div>
        <div class="input-field col s2">
            <select name="genderSelect" required>
                <option value="" disabled selected>Gender</option>
                <option value="female" class="dog">Female</option>
                <option value="male" class="cat">Male</option>
                <option value="unknown" class="cat">Unknown</option>
            </select>
        </div>
        <div class="input-field col s2">
            <!-- margin needs to be top 7px -->
           <button class="btn btn-block waves-effect waves-light">Search!</button>
        </div>
    </div>
</form>
<script>
	$(document).ready(()=>{
		$('select').material_select();
		$("select[required]").css({
			display: "inline",
			height: 0,
			padding: 0,
			width: 0
		});
		// Hide dog/cat breeds to only show when a type is selected
		$('.dog-breeds, .cat-breeds').hide();
		// show dog/cat breeds depending on selection
		$('#breeds-select').change(function () {
			var inputValue = $(this).val();
			// console.log(inputValue)
			if (inputValue == "dog") {
				$('.dog-breeds').show();
				$('.cat-breeds').hide();
			} else if (inputValue == "cat") {
				$('.cat-breeds').show();
				$('.dog-breeds').hide();
			}
		});
	})
</script>