<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">CHAT!</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row">
            <h4>HELLO!</h4>
            <div class="col s3">

            </div>
            <div class="col s9">
                <div id="messages">
                    <!-- messages will be added here -->
                </div>
                <form id="submit-message">
                    <input id="new-message" type="text" />
                    <button type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <!-- blank space if needed. -->
    </div>
  </div>

  