<!DOCTYPE html>

    <head>
        <% include head %>
        <title>Pet Basket Upload</title>

    </head>
    <body>
    <% include navbar %>
     <main>
        <div class="container">
				<div class="row">
					<h3 class="center-align"> Success! Your post has been added.</h3>
                    <div class="col-sm-12 center-align">
                        <img src="/images/goodjob.gif" >
                        <a href="/myListings"><h5>View All My Listings</h5></a>
                        <a href="/listings"><h5>Back to Listings</h5></a>
                    </div>
				</div>
			</div>
	    </main>
        <% include footer %>
    </body>
</html>