<!DOCTYPE html>

    <head>
        <% include head %>
		<title>Upload</title>
		
    </head>
    <body>
	<% include navbar %>
	<script type="text/javascript">
		$(document).ready(()=>{
			// initiate selection dropdown
			$('select').material_select();
			// Hide dog/cat breeds to only show when a type is selected
			$('.dog-breeds, .cat-breeds').hide();
			// show dog/cat breeds depending on selection
			$('#breeds-select').change(function () {
				var inputValue = $(this).val();
				// console.log(inputValue)
				if (inputValue == "dog"){
					$('.dog-breeds').show();
					$('.cat-breeds').hide();
				}else if(inputValue == "cat"){
					$('.cat-breeds').show();
					$('.dog-breeds').hide();
				}
			});
		});
	</script>
     <main>
        <div class="container">
		<div class="row">
			<h3 class="center-align">Post to Listings </h3>
			<form class="offset-s2 col s8 card darken-1" action="/uploadProcess" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="input-field col s12">
						<select name="breed_type_select" id='breeds-select'>
							<option value="" disabled selected name="type">Type</option>
							<option value="dog" name="dog" class="dog" id="dog">Dog</option>
							<option value="cat" name="cat" class="cat" id="cat">Cat</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 breeds dog-breeds">
						<% include dog_breeds %>
					</div>
					<div class="input-field col s12 breeds cat-breeds">
						<% include cat_breeds %>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="name" type="text" name="pet_name" class="validate">
						<label for="name">Name</label>
					</div>
				</div>
				<div class="row">	
					<div class="input-field col s2">
						<label for="location">Location:</label>
						<input type="text" class="validate" name="location" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select name="age" multiple>
							<option value="" disabled selected>Age</option>
							<option value="baby">Baby</option>
							<option value="young">Young</option>
							<option value="adult">Adult</option>
							<option value="senior">Senior</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select name="gender">
							<option value="" disabled selected>Gender</option>
							<option value="female" class="dog">Female</option>
							<option value="male" class="cat">Male</option>
							<option value="u" class="cat">Unknown</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
						<label for="textarea1">Share a story/ write a description </label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6 center-align">
						Image Upload
					</div>
					<div class="input-field col s6">
						<input type="file" name= "imageToUpload">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<div class="center-align">
							<button class="btn waves-effect waves-light" type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>     
</main>

<% include footer %>
</body>
</html>